.libraries-wr {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.grid-wr {
    padding : 8px;
    display: flex;
    align-items: center;
    justify-content: center;

    .grid-item {
        margin: 4px;
    }

    .active {
        color: red;
    }
    .positive {
        color: #008000
    }

    .nothing-to-see {
        font-size: 24px;
        margin-top: 25%;
    }
}